/**
 * Custom dashboard styles.
 */
.welcome-panel-content {
  padding-bottom: 1em;
}

#dashboard-widgets-wrap {
  display: none;
}

.mixes-dashboard-summary p:last-of-type {
  display: none;
}

.mixes-dashboard-summary li {
  display: inline;
  margin-right: 1.5em;
}

.mixes-dashboard-summary li a:before,
.mixes-dashboard-summary li > span:before {
  font-family: dashicons;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
}

.mixes-dashboard-summary li.post-count a:before,
.mixes-dashboard-summary li.post-count > span:before {
  content: '\f109';
}

.mixes-dashboard-summary li.page-count a:before,
.mixes-dashboard-summary li.page-count > span:before {
  content: '\f105';
}

.mixes-dashboard-summary li.comment-count a:before,
.mixes-dashboard-summary li.comment-count > span:before {
  content: '\f101';
}

.mixes-dashboard-summary li.post-count.recipe-count a:before,
.mixes-dashboard-summary li.post-count.recipe-count > span:before {
  content: '\f510';
}

#dashboard_right_now li.post-count.recipe-count a:before,
#dashboard_right_now li.post-count.recipe-count > span:before {
  content: '\f510';
}

.comment-mod-count.hidden {
  display: none;
}

.mixes-dashboard-post-type-actions,
.mixes-dashboard-content-actions {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  margin: 1em 0 0;
}

.mixes-dashboard-post-type-actions li,
.mixes-dashboard-content-actions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2em;
}

.mixes-dashboard-post-type-actions h4,
.mixes-dashboard-content-actions h4 {
  margin: 1em 0 0;
  font-size: 1.2em;
}

.mixes-dashboard-post-type-actions .dashicons,
.mixes-dashboard-content-actions .dashicons {
  width: auto;
  height: auto;
}

.mixes-dashboard-post-type-actions .dashicons:before,
.mixes-dashboard-content-actions .dashicons:before {
  display: block;
  font-size: 2.125em;
  color: #4e4e4e;
}

.mixes-dashboard-post-type-actions a,
.mixes-dashboard-content-actions a {
  display: inline-block;
  margin: 0 0.65em;
}

@media screen and (max-width: 1024px) {
  .mixes-dashboard-post-type-actions,
  .mixes-dashboard-content-actions {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .mixes-dashboard-post-type-actions,
  .mixes-dashboard-content-actions {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.mixes-dashboard-post-type-actions-icon,
.mixes-dashboard-content-actions-icon {
  margin: 1em 0 0;
}
